<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{title}}</span>
  </div>
  <div fxHide.lt-md>
    <a class="brand" href="/" translate>APP_NAME</a>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <i class="fa fa-home"></i>
      <span translate>Home</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <i class="fa fa-question-circle"></i>
      <span translate>About</span>
    </button>
    <button mat-button routerLink="/tracker" routerLinkActive="active">
      <i class="fa fa-list"></i>
      <span translate>Tracker</span>
    </button>
  </div>
  <span fxFlex></span>
  <span class="vertical-line"></span>
  <button mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-icon-button (click)="forward()">
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <span class="vertical-line"></span>
  <button mat-icon-button [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
        {{language}}
      </button>
  </mat-menu>
  <span class="vertical-line"></span>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{username}}</b>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <button mat-menu-item [matMenuTriggerFor]="themeMenu">
      <mat-icon>format_color_fill</mat-icon> Theme
    </button>
    <mat-menu #themeMenu="matMenu">
      <button mat-menu-item (click)="setTheme('app-light-theme')">
        Light Theme
      </button>
      <button mat-menu-item (click)="setTheme('app-dark-theme')">
        Dark Theme
      </button>
    </mat-menu>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu>
  <span class="vertical-line"></span>
</mat-toolbar>
