.container {
  text-align: center;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.money-list-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.filter-container {
  min-height: 64px;
  padding: 8px 24px 0;
}
