<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate>Your money</mat-card-title>
    </h1>
    <mat-card-content>
      <div class="money-list-container mat-elevation-z8">
        <div class="filter-container">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <mat-table #moneyList [dataSource]="moneyItemsDS" matSort>
          <!-- select column -->
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="moneyItemSelection.hasValue() && isAllSelected()"
                            [indeterminate]="moneyItemSelection.hasValue() && !isAllSelected()">
              </mat-checkbox>
              <button mat-icon-button (click)="createMoneyItem()">
                <mat-icon>playlist_add</mat-icon>
              </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let e">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? moneyItemSelection.toggle(e) : null"
                            [checked]="moneyItemSelection.isSelected(e)">
              </mat-checkbox>
              <button mat-icon-button (click)="deleteMoneyItem(e.id)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button (click)="editMoneyItem(e)">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <!-- id column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.id }} </mat-cell>
          </ng-container>
          <!-- id column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.title }} </mat-cell>
          </ng-container>
          <!-- id column -->
          <ng-container matColumnDef="direction">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Direction </mat-header-cell>
            <mat-cell *matCellDef="let e">
              {{ e.direction }}
            </mat-cell>
          </ng-container>
          <!-- id column -->
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.amount }} </mat-cell>
          </ng-container>
          <!-- id column -->
          <ng-container matColumnDef="when">
            <mat-header-cell *matHeaderCellDef mat-sort-header> When </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.when }} </mat-cell>
          </ng-container>
          <!-- id column -->
          <ng-container matColumnDef="where">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Where </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.where }} </mat-cell>
          </ng-container>
          <!-- id column -->
          <ng-container matColumnDef="who">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Who </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.who }} </mat-cell>
          </ng-container>
          <!-- columns and rows -->
          <mat-header-row *matHeaderRowDef="moneyListColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: moneyListColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20, 50, 100]">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
