<div class="container">
  <mat-card>
    <mat-card-title translate>Your money</mat-card-title>
    <mat-card-subtitle>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
        <div fxFlex class="pad-8">
          <ng-container *ngIf="moneyInStat">
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar>
                  <mat-icon style="color: green;">arrow_upward</mat-icon>
                </div>
                <mat-card-title translate>In</mat-card-title>
                <mat-card-subtitle translate>Display the <strong>In</strong> (money) stats.</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <mat-list dense>
                  <mat-list-item>
                    <span matLine>Items (N): <strong>{{ moneyInStat.itemCount }}</strong> items</span>
                    <span matLine>Total amount (€): € <strong>{{ moneyInStat.totalAmount }}</strong></span>
                    <span matLine>From (Date): <strong>{{ moneyInStat.from | date:'yyyy-MM-dd' }}</strong></span>
                    <span matLine>To (Date): <strong>{{ moneyInStat.to | date:'yyyy-MM-dd'  }}</strong></span>
                    <span matLine>Who(s) (User): <strong>{{ moneyInStat.whosConcat() }}</strong></span>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </div>
        <div fxFlex class="pad-8">
          <ng-container *ngIf="moneyOutStat">
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar>
                  <mat-icon style="color: red;">arrow_downward</mat-icon>
                </div>
                <mat-card-title translate>Out</mat-card-title>
                <mat-card-subtitle translate>Display the <strong>Out</strong> (money) stats.</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <mat-list dense>
                  <mat-list-item>
                    <span matLine>Items (N): <strong>{{ moneyOutStat.itemCount }}</strong> items</span>
                    <span matLine>Total amount (€): € <strong>{{ moneyOutStat.totalAmount }}</strong></span>
                    <span matLine>From (Date): <strong>{{ moneyOutStat.from | date:'yyyy-MM-dd' }}</strong></span>
                    <span matLine>To (Date): <strong>{{ moneyOutStat.to | date:'yyyy-MM-dd' }}</strong></span>
                    <span matLine>Who(s) (User): <strong>{{ moneyOutStat.whosConcat() }}</strong></span>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </div>
        <div fxFlex class="pad-8">
          <ngx-charts-line-chart
            [animations]="moneyChart.animations"
            [scheme]="moneyChart.colorScheme"
            [results]="moneyChart.items"
            [gradient]="moneyChart.gradient"
            [xAxis]="moneyChart.showXAxis"
            [yAxis]="moneyChart.showYAxis"
            [legend]="moneyChart.showLegend"
            [showXAxisLabel]="moneyChart.showXAxisLabel"
            [showYAxisLabel]="moneyChart.showYAxisLabel"
            [xAxisLabel]="moneyChart.xAxisLabel"
            [yAxisLabel]="moneyChart.yAxisLabel"
            [autoScale]="moneyChart.autoScale"
            (select)="onMoneyChartSelect($event)">
          </ngx-charts-line-chart>
        </div>
      </div>
    </mat-card-subtitle>
    <mat-card-content>
      <div class="money-list-container mat-elevation-z8">
        <div class="filter-container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlex
          [ngStyle.xs]="{ 'min-height.px': 168 }"
          [ngStyle.sm]="{ 'min-height.px': 168 }">
          <div fxFlex>
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'Filter by details...' | translate">
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <mat-chip-list #tagList>
                <mat-chip *ngFor="let t of moneyTagsFilter" [selectable]="true" [removable]="true" (remove)="removeTag(t)" [style.background-color]="t.color">
                  {{t.code}}
                  <mat-icon matChipRemove translate>cancel</mat-icon>
                </mat-chip>
                <input placeholder="Filter by tag(s)..."
                        [matChipInputFor]="tagList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="true"
                        (matChipInputTokenEnd)="addTag($event)" />
              </mat-chip-list>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <mat-select (selectionChange)="applyDirectionFilter($event.value)" [placeholder]="'Filter by direction' | translate">
                <mat-option>None</mat-option>
                <mat-option value="0">In</mat-option>
                <mat-option value="1">Out</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <mat-table #moneyList [dataSource]="moneyItemsDS" matSort>
          <!-- select column -->
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="moneyItemSelection.hasValue() && isAllSelected()"
                            [indeterminate]="moneyItemSelection.hasValue() && !isAllSelected()">
              </mat-checkbox>
              <button mat-icon-button (click)="createMoneyItem()">
                <mat-icon>playlist_add</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteSelectedMoneyItems()">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let e">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? moneyItemSelection.toggle(e) : null"
                            [checked]="moneyItemSelection.isSelected(e)">
              </mat-checkbox>
              <button mat-icon-button (click)="editMoneyItem(e)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteMoneyItem(e.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <!-- tags column -->
          <ng-container matColumnDef="tags">
            <mat-header-cell *matHeaderCellDef translate>Tags</mat-header-cell>
            <mat-cell *matCellDef="let e">
              <mat-chip-list>
                <mat-chip *ngFor="let t of e.tags" [style.background-color]="t.color">{{ t.code }}</mat-chip>
              </mat-chip-list>
            </mat-cell>
          </ng-container>
          <!-- title column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header translate>Title</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.title }} </mat-cell>
          </ng-container>
          <!-- direction column -->
          <ng-container matColumnDef="direction">
            <mat-header-cell *matHeaderCellDef mat-sort-header translate> Direction </mat-header-cell>
            <mat-cell *matCellDef="let e">
              <mat-icon *ngIf="e.direction === 0" style="color: green;">arrow_upward</mat-icon>
              <mat-icon *ngIf="e.direction === 1" style="color: red;">arrow_downward</mat-icon>
            </mat-cell>
          </ng-container>
          <!-- amount column -->
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header translate> Amount </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.amount }} </mat-cell>
          </ng-container>
          <!-- when column -->
          <ng-container matColumnDef="when">
            <mat-header-cell *matHeaderCellDef mat-sort-header translate> When </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.when | date:'yyyy-MM-dd' }} </mat-cell>
          </ng-container>
          <!-- where column -->
          <ng-container matColumnDef="where">
            <mat-header-cell *matHeaderCellDef mat-sort-header translate> Where </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.where?.latitude }} / {{ e.where?.longitude }} </mat-cell>
          </ng-container>
          <!-- who column -->
          <ng-container matColumnDef="who">
            <mat-header-cell *matHeaderCellDef mat-sort-header translate> Who </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.who }} </mat-cell>
          </ng-container>
          <!-- columns and rows -->
          <mat-header-row *matHeaderRowDef="moneyListColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: moneyListColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20, 50, 100]">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
