<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate>Your money</mat-card-title>
    </h1>
    <mat-card-content>
      <div class="money-list-container mat-elevation-z8">
        <div class="filter-container">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <mat-table #moneyList [dataSource]="moneyItemsDS">
          <!-- id column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.id }} </mat-cell>
          </ng-container>
          <!-- id column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.title }} </mat-cell>
          </ng-container>
          <!-- id column -->
          <ng-container matColumnDef="direction">
            <mat-header-cell *matHeaderCellDef> Direction </mat-header-cell>
            <mat-cell *matCellDef="let e">
              {{ e.direction }}
              <button mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <!-- id column -->
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.amount }} </mat-cell>
          </ng-container>
          <!-- id column -->
          <ng-container matColumnDef="when">
            <mat-header-cell *matHeaderCellDef> When </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.when }} </mat-cell>
          </ng-container>
          <!-- id column -->
          <ng-container matColumnDef="where">
            <mat-header-cell *matHeaderCellDef> Where </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.where }} </mat-cell>
          </ng-container>
          <!-- id column -->
          <ng-container matColumnDef="who">
            <mat-header-cell *matHeaderCellDef> Who </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.who }} </mat-cell>
          </ng-container>
          <!-- columns and rows -->
          <mat-header-row *matHeaderRowDef="moneyListColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: moneyListColumns;"></mat-row>
        </mat-table>
      </div>
      <div *ngFor="let t of moneyItems">

        <h3>Money Item ID: {{ t.id }} </h3>
        <p>Money Item Title and Direction and Amount: {{ t.title + ' - ' + t.direction + ' - ' + t.amount }}</p>
        <p>Money Item When and Who: {{ t.when.toString() + ' - ' + t.who }}</p>
      
        
        <button *ngIf="t.who==='mistery man'" class="button is-warning" 
                (click)="updateMoneyItem(t.id, t, 'mistery woman')">
          Upgrade to Something new
        </button>
      
        <button *ngIf="t.who==='mistery woman'" class="button is-warning" 
                (click)="updateMoneyItem(t.id, t, 'mistery man')">
          Upgrade to Something new
        </button>
      
        <button class="button is-danger" (click)="deleteMoneyItem(t.id)">DELETE</button>
         <hr>
      </div>
      <button class="button is-primary" (click)="createMoneyItem()">CREATE new Money Item</button>
    </mat-card-content>
  </mat-card>
</div>
