
.container {
  text-align: center;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.money-list-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-row:hover {
  background-color: #999999;
}

.mat-column-select {
  overflow: visible;
}

.filter-container {
  min-height: 48px;
  margin: 12px;
}

.filter-container .mat-form-field {
  width: calc(100% - 24px);
}
